.container {
    display: flex;
    margin: 50px;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
    min-height: 50vh;
}

.container>div {
    width: 40%;
    min-width: 250px;
}

.container img {
    width: 100%;
}

.button_container {
    align-self: flex-end;
}

.button_container a {
    text-decoration: none;
    color: #000;
}